<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectSkeleton.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KinectSkeleton.Properties.Settings>
            <setting name="apolloHost" serializeAs="String">
                <value>130.89.12.47</value>
            </setting>
            <setting name="apolloPort" serializeAs="String">
                <value>61613</value>
            </setting>
            <setting name="apolloUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="apolloPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="apolloTopic" serializeAs="String">
                <value>kinect_skeleton_data</value>
            </setting>
            <setting name="useJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxUpdateRate" serializeAs="String">
                <value>30</value>
            </setting>
        </KinectSkeleton.Properties.Settings>
    </userSettings>
</configuration>